body {display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    }
    
#minefield {
    height: 400px;
    width: 400px;
    background-color: #d1d5da;
    font-family: "Times New Romans";
    font-size: 30px;
    box-shadow: -5px -5px darkgray;
    }   

.box div {display: flex;
    justify-content: center;
    align-items: center;
    }

.box {display: flex; 
    flex-wrap: wrap;
    } 

.discoverd {height: 50px; 
    width: 50px; 
    border-right-style: dotted; border-bottom-style: dotted;
    border-color: black;
    color: black;
    box-sizing: border-box;
    }

.discoverd1 {height: 50px; 
    width: 50px; 
    border-right-style: dotted; border-bottom-style: dotted;
    border-color: black;
    box-sizing: border-box;
    color: rebeccapurple; 
    }

.discoverd2 {height: 50px; 
    width: 50px; 
    border-right-style: dotted; border-bottom-style: dotted;
    border-color: black;
    box-sizing: border-box;
    color: green;
    }

.discoverd3 {height: 50px; 
    width: 50px; 
    border-right-style: dotted; border-bottom-style: dotted;
    border-color: black;
    box-sizing: border-box;
    color: red;
    }

.discoverdb {height: 50px; 
    width: 50px; 
    border-right-style: dotted; border-bottom-style: dotted;
    border-color: black;
    box-sizing: border-box;
    }

.hidden {height: 50px; 
    width: 50px; 
    border-bottom-style: solid; border-right-style: solid;
    border-top: 2px solid white; border-left: 2px solid white;
    box-sizing: border-box;
    }
.hidden:hover {border-style: none dotted dotted none; border-color: black; border-width: 3px; box-sizing: border-box}

span {opacity: 0.0}

span:hover {opacity: 1.0;}


img {width: 30px;}